[submodule "frontend"]
	path = frontend
	url = https://github.com/HungHyperX/SmartAirConditioner-Frontend-ProjectIII.git
[submodule "backend"]
	path = backend
	url = https://github.com/HungHyperX/SmartAirConditioner-Backend-ProjectIII.git
